---
dependency:
  name: galaxy
driver:
  name: docker
lint:
  name: yamllint
platforms:
  - name: ubuntu-{{ repository }}-python{{ python_version }}
    dockerfile: ../common/Dockerfile.j2
    image: travisci/ci-ubuntu-1804:packer-1577347966-74db3f91
    privileged: true
    capabilities:
      - SYS_ADMIN
    volumes:
      - "/sys/fs/cgroup:/sys/fs/cgroup:ro"
    command: /lib/systemd/systemd
provisioner:
  name: ansible
  connection_options:
    ansible_python_interpreter: /home/travis/virtualenv/python{{ python_version }}/bin/python
  playbooks:
    converge: ../common/playbook.yml
  options:
    extra-vars: travis_virtualenv=python{{ python_version }} github_repository={{ repository }}
  lint:
    name: ansible-lint
scenario:
  name: {{ repository }}-python{{ python_version }}
verifier:
  name: testinfra
  lint:
    name: pre-commit
